/*.menu4 li.current a {
	color: #FFF;
	background-color: #C03;
}
.menu4 li.current a:hover {
	color:#FFF;
	cursor:pointer;
	background-color: #C03;
}*/


.menu2 {
	list-style:none;
	height:44px;
	position:relative;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	margin: 0;
	float: right;
}
.menu2 li {
	float:left;
}
.menu2 li a {
	display:block;
	float:left;
	height:44px;
	line-height:44px;
	color:#033;
	text-decoration:none;
	font-size:12px;
	font-family: sans-serif;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;

}

.menu2 li a b {
	float:left;
	display:block;
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
}
.menu2 li.current a {
	color:#FFF;
	background-color: #5C9233;
}

.menu2 li.current a b {
	background-repeat: no-repeat;
	background-position: right top;
}
.menu2 li a:hover {
	color:#FFF;
	background-color: #5C9233;
}

.menu2 li a:hover b {
	background-repeat: no-repeat;
	background-position: right top;
}
.menu2 li.current a:hover {
	color:#FFF;
	background-color: #5C9233;
}

.menu2 li.current a:hover b {
	background-image: url(imagens/bt3.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
